<style>
body{
	background:url('/assets/signin_bg.jpg') no-repeat  scroll center 60px #fff;
	height:500px;
}

</style>
<div class="row">
	<div class="span9">
	</div>
	<div class="span3">
		<%= simple_form_for User.new, url: sessions_path, html: {class: ' well'} do |f| %>
			<%= f.input :phone, label: false, input_html: {class: 'required', placeholder: '手机号'} %>
			<%= f.input :password, label: false, input_html: {class: 'required', placeholder: '密码'} %>
		    <%= f.submit '登录', class: 'btn btn-success' %>
		<% end %>
</div>
</div>