<h1>设置密码</h1>

<form method="post" action="/registrations/<%= @user.id %>/password" accept-charset="UTF-8">
	<input type="hidden" name="id" value="<%= @user.id %>">
  <div class="field">
    <label for="user_validate_code">Validate code</label><br>
    <input type="text" value="" size="30" name="[user]password" >
  </div>
  <div class="actions">
    <input type="submit" value="next" name="commit">
  </div>
</form>