<style>
body{
	background:url('/assets/signup_bg.jpg') no-repeat  scroll center 70px #fff;
	height:600px;
}
</style>

<div class="row">
	<div class="span9">
	</div>
	<div class="span3">
<%= simple_form_for User.new, url: registrations_path, html: {class: 'well'} do |f| %>
	<%= f.input :phone, label: "手机号" %>
	<%= f.input :password, label: "密码" %>
  <%= f.submit '注册', class: 'btn btn-primary' %>
<% end %>
</div>
</div>

