<style>
body{
	background:url('/assets/signup_bg.jpg') no-repeat  scroll center 70px #fff;
	height:600px;
}
</style>

<div class="row">
	<div class="span9">
	</div>
	<div class="span3">
<%= simple_form_for User.new, url: registrations_path, html: {class: 'well'} do |f| %>
	<%= f.input :phone, label: false, input_html: {class: 'required', placeholder: '手机号'} %>
	<%= f.input :password, label: false, input_html: {class: 'required', placeholder: '密码'} unless Settings.has_validate_code %>
    <%= f.submit '注册', class: 'btn btn-primary' %>
<% end %>
</div>
</div>