<%= simple_form_for User.new, url: registrations_path, html: {class: 'form-horizontal'} do |f| %>
	<%= f.input :phone, label: '手机号', input_html: {class: 'required'} %>
	<%= f.input :password, label: '密码', input_html: {class: 'required'} unless Settings.has_validate_code %>
	<div class="form-actions">
    <%= f.submit '注册', class: 'btn btn-primary' %>
	</div>
<% end %>