<ul class="nav nav-tabs nav-stacked" style="margin-top:20px">
	<li><a href="/sessions/new">登录</a></li>
	<li>
		<a title="退出" rel="nofollow" data-method="delete" data-confirm="确定要退出吗？" href="/sessions/sign_out">
			<i class="icon-off"></i>退出
		</a>
	</li>
</ul>
