<table id="ships" class="table">
	<%= render partial: "ships/ship", collection: @order.ships %>
</table>

<% unless @order.done? %>
	<%= simple_form_for @order.ships.new, remote: true, html: {class: 'form-horizontal'} do |f| %>
		<%= f.hidden_field :order_id %>
		<%= f.input :sn, label: '串码', input_html: {class: 'required span2'} %>
	<% end %>
<% end %>
2000001006802