/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap_and_overrides
 *= require_self
 */


label.error, abbr {
    color: #E4393C;
    display: inline-block;
    margin-left: 10px;
}
#beginDate, #endDate{
	width:80px;
}
.order_item_amount{
	width:55px;
}
.product_is_bye{
	background-color:#54FF9F;
}
.ships_div{
	overflow:scroll;
}
.table tr th {
    background: none repeat scroll 0 0 #EEEEEE;
}

.order_no{
	height:50px;
	width:200px;
	margin:20px;
	display:block;
}

