/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap_and_overrides
 *= require_self
 */


label.error, abbr {
    color: #E4393C;
    display: inline-block;
    margin-left: 10px;
}
#beginDate, #endDate{
	width:80px;
}
.order_item_amount{
	width:55px;
}
.product_is_bye{
	background-color:#CCFFCC;
}
.ships_div{
	overflow:scroll;
}
.table tr th {
    background: none repeat scroll 0 0 #EEEEEE;
}
ul.order-total-info li{
	margin-left:30px;
}

textarea{
	height:50px;
}

.product_search.affix {
    top: 41px;
}
.product_search {
    width: 258px;

}
.bs-docs-sidenav.affix {
    top: 35px;
}
.nav-tabs li.active a {
	background-color:#F3F3F3;
}
table.products tr td{
	vertical-align:middle;
	text-align:left;
}
.product_img{
	margin:3px 10px;
}
.buy_btn{
	width:60px;
	text-align:center;
}
.table td.shengmu{
	border-top: 1px solid #fff;
	background-color:#fff;
}
#order_oprate{
	position:fixed;
	top:200px;
	right:25px; 
}
#order_oprate table tr td{
	height:50px;
}

.hidden{
	display:block;
}

#order_oprate:hover .btn{
	display:block;
}

.product_name{
	line-height:30px;
	display:inline-block;
}
.orders_table tr td{
	line-height:30px;
}

.progress{
	margin-bottom:10px;
}
.progress_text{
	margin-bottom:80px;
}
.progress_text div{
	text-align:center;
}
.product_id{
	display:inline-block;
/* width:25px;*/
	padding-left:5px;
}
.shengmu{
	display:inline-block;
}


.price_text, .price_text:hover{
	border:0;
	background:none;
	cursor: default;
}