.barcode {   
  float:left;  
  clear:both;
  padding: 0 10px; /*quiet zone*/  
  overflow:auto;  
  height:60px; /*size*/   
}  
.barcode div {   
  float:left;  
  height: 30px; /*size*/  
}  
.barcode .bar1 { border-left:3px solid black; }  
.barcode .bar2 { border-left:6px solid black; }  
.barcode .bar3 { border-left:9px solid black; }  
.barcode .bar4 { border-left:12px solid black; }  
.barcode .space0 { margin-right:0 }  
.barcode .space1 { margin-right:3px }  
.barcode .space2 { margin-right:6px }  
.barcode .space3 { margin-right:9px }  
.barcode .space4 { margin-right:12px }  
.barcode label {   
  clear:both;   
  display:block;   
  text-align:center;    
  font: 16px/25px helvetica
} 