body{
	padding-top:0px;
}
.navbar{
	display:none;
}
.container{
	margin-left:5px;
}
.connectedSortable {
	list-style-type: none;
	width:115px;
	margin:0; 
	padding:0; 
	height:100%; 
	margin: 0 5px 0 5px; 
	outline:1px solid;
	padding: 5px; 
}
.ui-state-default{
	background-color:#fff;
	display:block;
	overflow:hidden;
}
.connectedSortable li{
	margin: 0; 
	border: 0 0 1px 0;
	font-size: 15px; 
	cursor:move; 
	line-height:24px;
	overflow:hidden;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom: 1px solid #999;
}

#print-title{
	position:fixed;
	margin-top:-40px;
	font-size:16px;
	background-color:#fff;
}
#print-title td div{
	width:1099px;
	text-align:center;
}

#head{
/*	position:fixed;
	margin-top:-22px;*/
	background-color:#fff;
	font-size:16px;
}
#head td div{
/*	width:146px;*/
	font-size:14px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: url("") repeat-x scroll 50% 50% #fff;
}