<table>
<% @products.each do |product| %>
  <tr id="product_<%= product.id %>" class="<%= 'product_is_bye' if (order_amount = order_amount(@order, product)) > 0 %>">
    <td><%= link_to product.name, product_path(product) %></td>
		<td align="right">
			<%#= select_tag 'amount', options_for_select(Product::AMOUNTS, :selected => order_amount), id: product.id, class: 'order_item_amount' %>
			<% unless order_amount == 0 %>
			<input type="button" class="pluss" value="-1" />
			<% end %>
			<span id="" class="amount"><%= order_amount %></span>
		</td>
		<td><%#= product.series %></td>
		<td><%#= price_format product.last_purchase_price %></td>
    <!-- <td><%#= price_format product.last_purchase_low_price %></td>
    
    <td><%#= price_format product.last_purchase_heigh_price %></td>
    <td><%#= price_format product.last_selling_price %></td>
    <td><%#= price_format product.rofit %></td>
    <td>
			
    	<%#= link_to 'Edit', edit_product_path(product) %>
		</td> -->
  </tr>
<% end %>
</table>

<div class="select_amount">
	<input type="button" class="pluss" value="1"  />
	<input type="button" class="pluss" value="2"  />
	<input type="button" class="pluss" value="3"  />
	<input type="button" class="pluss" value="4"  />
	<input type="button" class="pluss" value="5"  />
	<input type="button" class="pluss" value="6"  />
	<input type="button" class="pluss" value="7"  />
	<input type="button" class="pluss" value="10"  />
	<input type="button" class="pluss" value="12"  />
	<input type="button" class="pluss" value="15"  />
	<input type="button" class="pluss" value="20"  />
	<input type="button" class="pluss" value="25"  />
	<input type="button" class="pluss" value="30"  />
	<input type="button" class="pluss" value="35"  />
</div>