<style>
</style>

<div style="width:700px; height:1050px; border:1px solid #000; margin:0 auto; padding:20px; overflow:hidden; background: url('/assets/dm_bg2.png') no-repeat scroll 0 0 #FFFFFF;">
	
	<table style="margin-top: 234px; margin-left: 22px;">
			<tr>
					<td>
						
						<table style="width:210px;">
							<tr>
									<th colspan=2 style="height:33px;" align="left">
										<img src="/classify/leaf.png" style="width:29px; margin-left:10px;" />
										叶菜类
									</th>
							</tr>
							<tr>
									<td>
										名称
									</td>
									<td>
										价格
									</td>
							</tr>
						</table>
						
						
					</td>
			</tr>
	</table>
	
	<!-- 微菜安卓客户端下载：http:// -->
</div>





