<ul class="menu">
	<li><a class="brand" href="/products.mobile?type=Vegetable">首页</a></li>
  <li><a href="/orders.mobile">订单</a></li>
  <li><a href="/orders.mobile">账单</a></li>
	<li><a href="/sessions/new">登录</a></li>
</ul>

<!-- <a rel="nofollow" data-method="delete" data-confirm="确定要退出吗？" href="/sessions/sign_out">退出</a>
<li><a href="/registrations/sign_up">注册</a></li>
<li><a href="/sessions/new">登录</a></li> -->