<a class="brand" href="/">caicai</a>
<ul class="nav">
  <li><a href="">订单</a></li>
	<% if current_user %>
    <li><a href="">设置</a></li>
		<li>
			<a rel="nofollow" data-method="delete" data-confirm="确定要退出吗？" href="/sessions/sign_out">退出</a>
		</li>
	<% else %>
    <li><a href="/registrations/sign_up">注册</a></li>
    <li><a href="/sessions/new">登录</a></li>
	<% end %>
</ul>