<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>百菜网</title>
<meta content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0" name="viewport"/>
<meta content="240" name="MobileOptimized"/>
	<link type="text/css" rel="stylesheet" media="all" href="/assets/application_mobile.css">
	<%= javascript_include_tag "application_mobile" %>

</head>
<body>
	<%= render 'layouts/header'%>
	<%= yield %>
</body>
</html>